.flash_message {
	color: #eee;
	min-width:250px;
  background: rgba(25,25,25,0.95);
  margin: -1px 0;
  text-shadow: none !important;
  padding:10px;
}

.flash_message p {
	color: #eee;
	text-shadow: none;
}