@import "shared/variables";
@import "shared/helpers";

#header {
  height:40px;
}

#logo {
  margin-top:3px;
  margin-bottom:-1px;
  width:180px;
  height:40px;
  background-size: auto 100%;
  background-image: asset-url("swiftgive_logo.png", image);  
  background-repeat: no-repeat;
}