@import "shared/variables";
@import "shared/helpers";

#header {
  height:40px;
}

#logo {
  margin-top:2px;
  width:180px;
  height:40px;
  background-size: auto 100%;
  background-image: image-url("swiftgive_logo.png");  
  background-repeat: no-repeat;
}