@import "shared/variables";
@import "shared/helpers";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}  

h1.page_title {
	font-size:18px;
	margin:0px 10px 10px 10px;
  padding:8px;
  line-height:120%;
  text-shadow: 0px 1px 1px rgba(25,25,25,0.1);
  box-shadow:0px 1px 1px rgba(25,25,25,0.1);
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  text-transform:capitalize;
}

.word_wrap {
  word-wrap: break-word !important;
  white-space: normal !important;
}

#header {
  height:40px;
}

#logo {
  margin-top:3px;
  margin-bottom:-1px;
  width:180px;
  height:40px;
  background-size: auto 100%;
  background-image: url(http://swiftgive.s3.amazonaws.com/images/swiftgive_logo.svg);
  background-repeat: no-repeat;
}

a.ui-link, a.ui-link:visited {
  font-weight:normal;
  text-decoration: none;
  color: $SwiftgiveGreen;
}
a.ui-link:hover, a.ui-link:hover, a.ui-link:active{
  color: $fontColorLight;
  text-decoration: underline;
}