$(document).delegate('.main_page', 'pageshow', function () {
  $(this).find('.flash_message').first().popup("open");
  window.setTimeout ( function() { 
    $('.flash_message').popup('close');
  }, 7000 );
});

$(document).on('click', '.flash_message', function () {
  $(this).popup('close');  
});

function flashNow(message, type) {
  var flash_message = "<div class='center_wrap flash_message pa-m' data-role='popup' data-position-to='window' data-theme='none' data-transition='fade'><p class='flash_message_content center'></p></div>";
  if ($.mobile.activePage) {
    $.mobile.activePage.find('.flash_message').remove();
    $.mobile.activePage.prepend(flash_message);
    var target = $.mobile.activePage.find('.flash_message');
    target.find('.flash_message_content').html(message);
    target.popup().popup("open");
    window.setTimeout ( function() {
      target.popup('close'); 
      target.remove();
    }, 7000 ); 
  }
}