$(document).delegate('.main_page', 'pageinit', function () {
  flashExistingMessage($(this));
});

// some browsers support click
$(document).delegate('.flash_message', 'click', function () {
  $(this).popup('close');
});

// mobile browsers support touchend
$(document).delegate('.flash_message', 'touchend', function () {
  $(this).popup('close');
});

function flashNow(message, message_type, popup_to_open_after_close) {
  message_type = message_type || 'notice';
  var flash_message = "<div class='center_wrap flash_message flash_type' data-role='popup' data-overlay-theme='b' data-position-to='window' data-transition='pop' data-history='false' style='width:250px'> *placeholder* <div class='mt'><a data-rel='back' data-icon='check' data-mini='true' class='ui-btn-center mt' %>OK</a></div></div>"  
  flash_message = flash_message.replace("*placeholder*", message);
  flash_message = flash_message.replace('flash_type', 'flash_' + message_type);
  if ($.mobile.activePage) {
    $.mobile.activePage.find('.flash_message').remove();
    $.mobile.activePage.prepend(flash_message);
    var target = $.mobile.activePage.find('.flash_message');
    target.find('.flash_message_content').html(message);    
    target.on('popupafterclose', function() {
      target.remove();
      if (popup_to_open_after_close) {
        window.setTimeout(function() { popup_to_open_after_close.popup('open'); }, 500 ); 
      }
    });      
    target.on( "popupafteropen", function( event, ui ) {
      window.setTimeout(function() { 
        if (target.is(":visible")) {
          target.popup('close');
          target.popup('destroy');
          target.remove();
        }
      }, 7000 ); 
    });
    target.popup().popup("open");
  }
}

function flashExistingMessage(page_dom_object) {
  var target = page_dom_object.find('.flash_message').first();
  if (target.length !== 0) {
    target.on( "popupafterclose", function( event, ui ) {
      target.popup('destroy');
      target.remove();                      
    });
    window.setTimeout(function(){      
      if (!target.hasClass('flash_permenant')){
        target.on( "popupafteropen", function( event, ui ) {
          window.setTimeout(function() { 
            if (target.is(":visible")) {
              target.popup('close');            
            }
          }, 7000 );
        });  
      }
      target.popup("open");
    }, 300);  
  }
}