function flashNow(message, type) {
  var flash = "<div id='flash' class='flash_" + type + " pa' data-role='popup' data-position-to='window'><p>" + message + "<p></div>"
  $('#flash').remove();
  $('#content').prepend(flash);
  $('#flash').popup();
  $("#flash", $(this)).popup("open");
}