function flashNow(message, type) {
  var flash = "<div class='flash_message flash_" + type + " pa' data-role='popup' data-position-to='window'><p>" + message + "<p></div>"
  $('.flash_message').remove();
  $('#content').prepend(flash);
  $('.flash_message').popup();
  $(".flash_message", $(this)).popup("open");
}