<% title 'Resend confirmation instructions' %>

<% flash.now[:error] = devise_error_messages! if devise_error_messages!.present? %>

<div class='col-md-7 col-md-offset-2 mt mb'>

	<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :honeypot => true, :method => :post }) do |f| %>
	      
	    <%= f.input :email,	:required => true,
	                        :placeholder => "Email",
	                        :label => false,
	                        :wrapper => :none, :wrapper_html => {:class => 'pl pr'} %>
	    
	    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	      <i class="fa fa-fw fa-envelope"></i> Resend my email confirmation 
	    <% end %>   
	   
	<% end %>

</div>