<h2>Sign up using your favorite social network</h2>

<li><%= link_to "Sign up with Facebook", authentication_register_path(:facebook) %></li>
<li><%= link_to "Sign up with Google",   authentication_register_path(:google_oauth2) %></li>
<li><%= link_to "Sign up with linkedin",   authentication_register_path(:linkedin) %></li>
