<% 

flash_type = nil
flash_message = nil

if flash[:notice].present?
	flash_type = 'notice'
	flash_message = flash[:notice].html_safe rescue nil
elsif flash[:error].present?
	flash_type = 'error'
	flash_message = flash[:error].html_safe rescue nil
end

%>

<% if defined?(flash_type) and flash_type.present? %>
	<div class='center_wrap flash_message <%= 'flash_#{flash_type}' %>' data-role='popup' data-position-to='window' data-overlay-theme='a' data-transition='pop' data-history='false' style='width:250px'>	  
		<div class='flash_content ma'>
			<%= flash_message %>
		</div>
		<div class='ma'>
			<%= content_tag :a, 'OK', :'data-rel' => 'back', :'data-role' => 'button', :'data-icon' => 'check', :'data-mini' => true %>
		</div>
	</div>
<% end %>