<div class='center_wrap flash_message flash_<%= flash_type %> pa-m' data-role="popup" data-position-to="window" data-overlay-theme="a">
	<div><p class='center'><%= flash_message %></p></div>
	<div class='close_flash_button center' data-role='button'>OK</div>	
</div>

<script type='text/javascript'>
	$('.close_flash_button').click(function(){
		$('.flash_message').popup('close');
	});
</script>
