<div id='nav_menu' data-role="popup" data-position-to="window" data-overlay-theme="a" data-theme='none'>
	<div class='center_wrap'>
		<h3 >Menu</h3>
		<% if user_signed_in? %>
			<%= link_to 'My Account', show_user_profile_path, :'data-role' => 'button', :'data-icon' => 'user', :'data-mini' => 'true' %>
		<% end %>
		<%= link_to 'My Funds', funds_path, :'data-role' => 'button', :'data-icon' => 'shop', :'data-mini' => 'true' %>

		<br class='spacer'/>
		<% if user_signed_in? %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete,  :'data-role' => 'button', :'data-icon' => 'power', :'data-mini' => 'true' %>
		<% else %>
			<%= link_to "Sign in", new_user_session_path,  :'data-role' => 'button', :'data-icon' => 'user', :'data-mini' => 'true' %>
		<% end %>
	</div>
</div>
