<div id='nav_menu' data-role="popup" data-position-to="window" data-overlay-theme="a" data-theme='none'>
	<div class='center_wrap'>
		<h3 data-theme='a'>Menu</h3>
		<%= link_to 'My Profile', show_user_profile_path(current_user), :'data-role' => 'button', :'data-icon' => 'gear', :'data-mini' => 'true', :'data-theme' => 'a' %>   	
	</div>
</div>
