<% # DISPLAY FLASH NOTICES --------------------------------------- %>  
<% if flash[:notice] %> 
  <div id="flash" class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div id="flash" class="alert alert-error">
    <%= flash[:error] %>
  </div>
<% elsif flash[:warning] %>
  <div id="flash" class="alert alert-warning">
    <%= flash[:warning] %>
  </div>
<% end %>