<div class='seven columns'>
  <%= link_to content_tag(:div, '', :id => 'logo', :class => 'left scale-with-grid'), root_path %>
</div>

<div id="navbar" class="nine columns standard_only">
  <%= render :partial => 'layouts/standard/navbar' %>
</div>
