.background-image-1 {
	background-image: image-url('jumbotron/carwash.jpg') !important;
}

.background-image-2 {
	background-image: image-url('jumbotron/musician.jpg') !important;
}

.background-image-3 {
	background-image: image-url('jumbotron/pedicab.jpg') !important;
}