.facebook 		{ color:#4C67A1 !important; }
.facebook:hover { color:#3C5791 !important; }
.google			{ color:#dd594d !important; }
.google:hover   { color:#cd493d !important; }
.twitter		{ color:#54C1E0 !important; }
.twitter:hover  { color:#44B1D0 !important; }
.reddit			{ color:#8FBCE2 !important; }
.reddit:hover	{ color:#7FACD2 !important; }
.linkedin		{ color:#0077B5 !important; }
.linkedin:hover	{ color:#0062A0 !important; }
.social_grey	{ color:#AAAAAA !important; }
.social_grey:hover	{ color:#999999 !important; }

.social_media_button {
	font-size:100%;
}

@media(max-width:767px){
	.social_media_button {
		font-size:90%;
	}
}