$SwiftgiveGreen: rgb(135,178,135);
$SwiftgiveGreenDark: rgb(105,138,105);

$fontColor: rgb(110,110,110);
$fontColorDark: #222;
$fontColorLight: #555;

$backgroundColor: #f8f8f8;
$backgroundColorDark: #f3f3f3;

$borderRadius: 5px;
$borderRadiusLarge: 7px;
$borderColor: #f1f1f1;

$headerHeight: 50px;