$SwiftgiveGreen: rgb(135,178,135);
$SwiftgiveGreenDark: rgb(105,138,105);

$fontColor: #333;
$fontColorDark: #222;
$fontColorLight: #555;


$backgroundColor: #f3f3f3;
$backgroundColorDark: #e0e0e0;

$borderRadius: 5px;
$borderRadiusLarge: 7px;

$headerHeight: 50px;