$fontColor: #333;
$fontColorDark: #222;
$fontColorLight: #555;
$fontColorSwiftgiveGreen: rgb(135,178,135);

$backgroundColor: #f3f3f3;
$backgroundColorDark: #e0e0e0;

$borderRadius: 5px;
$borderRadiusLarge: 7px;

$headerHeight: 40px;