@import "shared/variables";
@import "shared/helpers";

body {
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
  color: $fontColor;
}  
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}
#title {
  margin:20px 0px 40px 0px;
}
#page {
 margin-top: 10px;
}
#main {
}
#mainbar {
}
#sidebar {
}
#bottomnav {
  height:20px;
}
#footer {
  height:20px;
}

// # ----- Header ----- #
$headerHeight: 50px;
#header {
  height: $headerHeight;
}
#header #logo {
  width:100%;
  max-width:120px;  
  min-height:30px;
  margin-top:5px;
  margin-left:0px;
  background-image: image-url("swiftgive_logo.png");  
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: 100%;
}
#sidebar {
  
}
.content_box {
  background-color: #eee;
  @extend .mb;
  @extend .pa;
  @extend .br
}