<h2>Our Promise to You</h2>

<h4>We may use your public data</h4>
<p class='word_wrap'>We may collect and store your public data (name, email address, city, state, photo, etc...) for identification purposes and to reduce malicious use of the site. Other users on Swiftgive may be able to see some of this information. Users may be able to see your name, photo, and location on various profile pages.  Also, by sending or receiving donations via email through Square Cash, you may be sharing your email address and potentially your name with the other party in the transaction.</p>
<h4>We will not use your private data</h4>
<p class='word_wrap'>We will not collect or store any of your private data (debit/credit card numbers, social security numbers, physical address, etc...) whatsoever. When using Square Cash for payments through Swiftgive, your information is sent directly to Square via the forms they email to you and on the Square website. Swiftgive does not see any information you send to Square, nor do we particularly want to. Likewise, if you make a purchase from Zazzle, you interact directly with the Zazzle website and Swiftgive does not see private data you may to Zazzle.</p>
<h4>We will not share your data</h4>
<p class='word_wrap'>We will not share any of your information with third parties for any reason. We will not sell your information to marketing companies even if they offer us a ton of money. We will not even give your information to your grandmother if she asks very nicely. </p>

<h2>Your Promise to Us</h2>

<h4>You will not collect or scrape data</h4>
<p class='word_wrap'>You will not attempt to collect or scrape any user data on the site for any reason, whether it be through the use of bots or even manually.</p>
<h4>You will not misuse user data</h4>
<p class='word_wrap'>You may come across other users' data, either through the routine use of the site, or through transactions. You agree not to use this information for any reason outside of Swiftgive.</p>

<h4>Last Updated: June 16, 2014</h4>