<h2>Introduction</h2>

<p class='word_wrap'>These are the general terms & conditions (in the following referred to as: "Agreement", "Terms and Conditions", or "Terms") for the participation in Swiftgive fundraising services provided by Vaczoway Solutions, Inc. ("Swiftgive" or "Service"), the Swiftgive website, related websites, and all of their subdomains (together, the "Website" or "Site").</p>
<p class='word_wrap'>By participating in the Service in any way, including, but not limited to, accessing the Site, viewing contributed content, or other materials on the Site, you accept the Agreement and are bound and agree to adhere to our Terms and Conditions.</p>

<h2>Description of Service</h2>

<p class='word_wrap'>Swiftgive is a fundraising platform allowing users to receive tips or donations from other users.</p>
<p class='word_wrap'>Certain individuals ("Fund Owners") create a fundraising campaign ("Fund") including description and associated email address. After a Fund is created, the Site generates a unique QR Code ("Give Code") for that particular Fund. The Give Code contains a hyperlink to a payment form for that particular Fund.  Other users ("Givers") scan a Give Code with their mobile device (using 3rd party software unaffiliated with Swiftgive), fill out the payment form which subsequently loads from the Site onto their device, and submit the form. When Givers submit a payment form, the Site builds loads a pre-populated draft email ("Payment Email") on the Giver's mobile device and the Giver completes the Payment by sending the Payment Email.</p>
<p class='word_wrap'>Payments are processed using Square Cash (http://square.com/cash), a peer-to-peer payment service offered by Square, Inc. Payments initiated using Swiftgive are  expressed agreements between a particular Giver and the owner of the email address ("Receiver") associated with a Fund (together they are "Payment Participants"). Money transferred via Payments goes directly from Giver to Receiver over the Square Cash system and is not handled by Swiftgive. Payment Participants are subject to, in addition to this Agreement, terms set forth by Square, Inc. Swiftgive has no control over Payments and is not responsible for Payment issues.</p>
<p class='word_wrap'>In order to solicit tips and donations, Users ("Fund Promoters") may also elect to purchase Swiftgive template products ("Marketing Products"), displaying that Fund's Give Code, using Zazzle (http://zazzle.com), an online product printing service offered by Zazzle Inc. In doing so, Fund Promotors, in addition to this Agreement, are subject to  terms set forth by Zazzle Inc.</p>

<h2>Fees and Charges</h2>

<p class='word_wrap'>Currently the Service is free of charge to users, but Swiftgive may modify the amount of the service or membership fees charged to users at any time and without giving reasons. Further, the Service may set individual fee structures for particular users.</p>

<p class='word_wrap'>Square Cash currently doesn't charge a fee for processing payments, in accordance to their terms, however, they may change fee structure for payments at any time. In the event of a payment fee structure change, Swiftgive is not required to communicate these changes to users.</p>

<p class='word_wrap'>Prices charged for Marketing Products are set by Zazzle and may change at any time without notice. Swiftgive is not required to give notice to users in result of marketing product price changes.</p>

<h2>Rules and Acceptable Use</h2>

<p class='word_wrap'>All users of Swiftgive are bound by this agreement.</p>
<p class='word_wrap'>Users are obligated to comply with all valid laws when making use of the Website and its services.</p>
<p class='word_wrap'>Content offered by members on the Website are not allowed to contradict the terms of this Agreement or any applicable laws.</p>
<p class='word_wrap'>The Service is open only to legal persons, business partnerships and natural persons with full legal competence. Minors not of age are not allowed to participate.</p>
<p class='word_wrap'>The data gathered by Swiftgive at the time of user registration is to be provided fully and without errors.</p>
<p class='word_wrap'>If the personal information changes after registration, the member must update their user profile accordingly.</p>
<p class='word_wrap'>Registration must be of a legal person and may only be carried out by an authorized natural person. This individual’s name must be stated in the user profile.</p>
<p class='word_wrap'>Users are not allowed to register more than one account on the Website.</p>
<p class='word_wrap'>Swiftgive may suspend or cancel any membership at any time without giving notice. Excluded members may not register a new account under the same name, or using a different name.</p>

<h2>Contents of the Website</h2>

<p class='word_wrap'>The layout of the Website and any contented included within, including the text of this Agreement, may only be copied and used elsewhere with prior written consent Swiftgive.</p>
<p class='word_wrap'>No content of Swiftgive may be used or duplicated without the permission of the owner of the rights of the content in question.</p>

<h2>System Integrity and Availability</h2>

<p class='word_wrap'>Users may not pursue any activities, which could disturb the function of the Website (in particular activities which could cause an overload of website infrastructure).</p>
<p class='word_wrap'>This website and all services and products offered in it, or offered from third parties linked from the site, etc. are given without any guarantees regarding the availability and the quality of the mentioned goods.</p>

<h2>Abusive Use of the Website</h2>

<p class='word_wrap'>Swiftgive reserves the right to restrict use and deny service to abusive users.</p>
<p class='word_wrap'>If Swiftgive has additional expenses due to abusive or faulty use of the Website, Swiftgive reserves the right to charge this expense to the disruptive user, if the user cannot prove that he did not commit the disruption.</p>
<p class='word_wrap'>Abusive or faulty use of the website exists in particular if a user:</p>
<p class='word_wrap'>a) Carries out illegal activities that violate local, state, national, or international laws including, but not limited to, money laundering, trafficking of illegal substances, or violations to trade restrictions;</p>
<p class='word_wrap'>b) Participates in offensive behavior or in the violation of other user's rights including, but not limited to, slander, sexual abuse, racism, or inflammatory language;</p>
<p class='word_wrap'>c) Uses third party programs or software, either knowingly or unknowingly, that cause an excessive amount of load on the website's servers, interrupts Service, attempts to collect content or user information, or otherwise poses a malicious intent;</p>
<p class='word_wrap'>e) Violates the Terms and Conditions for the use of the Website.</p>

<h2>Third Party Links and Sites</h2>

<p class='word_wrap'>This site may contain links to websites or content outside of the Site.  You access these third party sites and content at your own risk.  The presence of links or content on the Site from third parties shall not imply affiliation or endorsement from Swiftgive. Similarly, links to the Website from third party sites shall not imply endorsement or affiliation.</p>

<p class='word_wrap'>Furthermore, Swiftgive or Vaczoway Solutions, Inc. shall not be liable for any damage occurred directly or indirectly from access to third party sites or content.</p>

<h2>Modifications to Terms & Severability Clause</h2>

<p class='word_wrap'>The provider reserves the right to modify this Agreement at any time and without any given reason. The modified Agreement will be made available to all users in written form, 2 weeks before they become valid. The Terms and Conditions are considered as accepted, should any user continue to use the Service two weeks after receiving the notification.</p>
<p class='word_wrap'>All other clauses remain valid, should a clause of this Agreement be ineffective. The invalid clause is implicitly replaced by one that is closest to the purpose of the original clause in a way that is legally effective. The same is true for any eventual gaps in these regulations.</p>
<p class='word_wrap'>Users may revoke their agreement to these Terms in written form at any time, but must discontinue use of the Service immediately and indefinitely thereafter.</p>
<p class='word_wrap'>By accepting these Terms, you agree to indemnify and hold Swiftgive, Vaczoway Solutions, Inc, and our employees harmless from any claim or demand, including attorney's fees, made by a third party or as a result of your breach of this agreement and the Privacy Policy. This also includes any law or rights of a third party you may have violated.</p>

<h2>No Warranties</h2>

<p class='word_wrap'>Use this Service at your own risk.  Swiftgive provides no warranties of any kind, either explicitly or implied.  You are responsible for any damage occurred directly or indirectly from the use of the Service.</p>
<p class='word_wrap'>We do not warrant: that the Service is available at any given time, that the Service continues to be available in the future, that the Service provides accurate information, that inaccuracies or errors will be corrected, that Service is free of malicious software, that your requirements will be met by the Service, or that the Service is free of offensive or inappropriate content.</p>
<p class='word_wrap'>Additionally, merchandise acquired through the use of the Service either directly from the Site or from third party sites is not warranted by Swiftgive.  We do not warrant that such merchandise will fulfill its intended purpose, arrive in any particular condition or within any delivery timeframe, look any particular way, satisfy your requirements, or exhibit an acceptable durability.</p>

<h2>Notice</h2>

<p class='word_wrap'>Except as expressly stated otherwise, all notices to Swiftgive shall be sent using the contact form available on the Site</p>
<p class='word_wrap'>All notices to users shall be sent to the email address provided upon registration, or to email addresses used for sending or receiving Payments. Such notice shall be deemed given one business day after the email is sent.</p>

<h2>Dispute Resolution</h2>

<p class='word_wrap'>Any controversy or claim arising out of or relating to this Agreement or our Service shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in Austin, Texas and judgment on the arbitration award may be entered into any court having jurisdiction thereof. Either you or Vaczoway Solutions, Inc. may seek any interim or preliminary relief from a court of competent jurisdiction in Austin, Texas necessary to protect the rights or property of you or Vaczoway Solutions, Inc. pending the completion of arbitration.</p>

<h4>Last Updated: May 17, 2014</h4>