<div class='center_wrap'>
  <h2>SwiftGive Development Test</h2>
</div>

<br class='spacer'/>

<ul data-role="listview" data-inset="true">
	<li data-role="list-divider" data-theme='d'>Funds</li>
	<% Fund.limit(10).each do |fund| %>
		<li data-theme="c"><%= link_to fund.name, fund_path(fund) %></li>
	<% end %>
</ul>