<% title "Welcome!" %>

<ul data-role="listview" data-inset="true">
	<li data-role="list-divider" >Funds</li>
	<% Fund.limit(10).each do |fund| %>
		<li data-theme="c"><%= link_to fund.name, fund_path(fund) %></li>
	<% end %>
	<li  data-icon='plus'> <%= link_to 'Create new fund', new_fund_path %> </li>
</ul>