<div class="hero-unit">
  <h1>SwiftGive Development Test</h1>
  <p>SwiftGive is a platform for fundraising and tips!</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
<h1></h1>
<%= link_to "Test page", test_path %>

