<% title "Collecting Tips and Donations Made Easy" %>

<center>		
	<h5><i>No fees.<br/>All you need is e-mail and a debit card.</i></h5>
</center>

<ul data-role="listview" data-inset="true" class='mb'>
	<li class='pt-s pb-s'>
		<div class='ui-grid-a'>
			<div class='ui-block-a side'>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50" height="50" viewBox="0, 0, 360, 360">
				  <g id="Layer 1">
				    <g>
				      <path d="M180.5,313.875 C106.839,313.875 47.125,254.161 47.125,180.5 C47.125,106.839 106.839,47.125 180.5,47.125 C254.161,47.125 313.875,106.839 313.875,180.5 C313.875,254.161 254.161,313.875 180.5,313.875 z" fill="#92BB92"/>
				      <path d="M180.5,44.625 C255.542,44.625 316.375,105.458 316.375,180.5 C316.375,255.542 255.542,316.375 180.5,316.375 C105.458,316.375 44.625,255.542 44.625,180.5 C44.625,105.458 105.458,44.625 180.5,44.625 z M180.5,49.625 C108.22,49.625 49.625,108.22 49.625,180.5 C49.625,252.78 108.22,311.375 180.5,311.375 C252.78,311.375 311.375,252.78 311.375,180.5 C311.375,108.22 252.78,49.625 180.5,49.625 z" fill="#404040"/>
				    </g>
				    <g>
				      <text transform="matrix(1, 0, 0, 1, 180, 180.5)">
				        <tspan x="-58.594" y="71.5" font-family="TrebuchetMS-Bold" font-size="200" fill="#FFFFFF" stroke="#404040" stroke-width="6">1</tspan>
				      </text>
				    </g>
				  </g>
				  <defs/>
				</svg>			
			</div>
			<div class='ui-block-b main'>
				<h3 class='mt'>Start a Fund</h3>
			</div>
		</div>		
	</li>

	<li class='pt-s pb-s'>
		<div class='ui-grid-a'>
			<div class='ui-block-a side'>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50" height="50" viewBox="0, 0, 360, 360">
				  <g id="Layer 1">
				    <g>
				      <path d="M180.5,313.875 C106.839,313.875 47.125,254.161 47.125,180.5 C47.125,106.839 106.839,47.125 180.5,47.125 C254.161,47.125 313.875,106.839 313.875,180.5 C313.875,254.161 254.161,313.875 180.5,313.875 z" fill="#92BB92"/>
				      <path d="M180.5,44.625 C255.542,44.625 316.375,105.458 316.375,180.5 C316.375,255.542 255.542,316.375 180.5,316.375 C105.458,316.375 44.625,255.542 44.625,180.5 C44.625,105.458 105.458,44.625 180.5,44.625 z M180.5,49.625 C108.22,49.625 49.625,108.22 49.625,180.5 C49.625,252.78 108.22,311.375 180.5,311.375 C252.78,311.375 311.375,252.78 311.375,180.5 C311.375,108.22 252.78,49.625 180.5,49.625 z" fill="#404040"/>
				    </g>
				    <g>
				      <text transform="matrix(1, 0, 0, 1, 180, 180.5)">
				        <tspan x="-58.594" y="71.5" font-family="TrebuchetMS-Bold" font-size="200" fill="#FFFFFF" stroke="#404040" stroke-width="6">2</tspan>
				      </text>
				    </g>
				  </g>
				  <defs/>
				</svg>			
			</div>
			<div class='ui-block-b main'>
				<h3 class='mt'>Promote your fund</h3>
			</div>
		</div>		
	</li>

	<li class='pt-s pb-s'>
		<div class='ui-grid-a'>
			<div class='ui-block-a side'>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50" height="50" viewBox="0, 0, 360, 360">
				  <g id="Layer 1">
				    <g>
				      <path d="M180.5,313.875 C106.839,313.875 47.125,254.161 47.125,180.5 C47.125,106.839 106.839,47.125 180.5,47.125 C254.161,47.125 313.875,106.839 313.875,180.5 C313.875,254.161 254.161,313.875 180.5,313.875 z" fill="#92BB92"/>
				      <path d="M180.5,44.625 C255.542,44.625 316.375,105.458 316.375,180.5 C316.375,255.542 255.542,316.375 180.5,316.375 C105.458,316.375 44.625,255.542 44.625,180.5 C44.625,105.458 105.458,44.625 180.5,44.625 z M180.5,49.625 C108.22,49.625 49.625,108.22 49.625,180.5 C49.625,252.78 108.22,311.375 180.5,311.375 C252.78,311.375 311.375,252.78 311.375,180.5 C311.375,108.22 252.78,49.625 180.5,49.625 z" fill="#404040"/>
				    </g>
				    <g>
				      <text transform="matrix(1, 0, 0, 1, 180, 180.5)">
				        <tspan x="-58.594" y="71.5" font-family="TrebuchetMS-Bold" font-size="200" fill="#FFFFFF" stroke="#404040" stroke-width="6">3</tspan>
				      </text>
				    </g>
				  </g>
				  <defs/>
				</svg>			
			</div>
			<div class='ui-block-b main'>
				<h3 class='mt'>Get Paid</h3>
			</div>
		</div>		
	</li>

</ul>

<% unless user_signed_in? %>
	<%= link_to "Get Started Now", new_user_session_path, :'data-role' => 'button', :'data-icon' => 'check',  :class => 'ui-btn-center mt', :'data-theme' => 'b' %> 
<% else %>
	<%= link_to "Get Started Now", funds_path, :'data-role' => 'button', :'data-icon' => 'check',  :class => 'ui-btn-center mt', :'data-theme' => 'b' %> 
<% end %>

<%= link_to "Learn More", about_path, :'data-role' => 'button', :'data-icon' => 'info',  :class => 'ui-btn-center' %> 
