<% title t('slogan'), false %>
<div class="jumbotron mt">
  <h1><%= t('slogan') %></h1>
  <p>SwiftGive is a platform for fundraising and tips!</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>