$(document).ready(function() {
  showFlash();
});

function flashNow(message, type) {

  switch (type) {
    case 'notice':
      filtered_type = 'success';
      break;
    case 'error':
      filtered_type = 'error';
      break;
    case 'warning':
      filtered_type = '';
      break;
    case 'info':
      filtered_type = 'info';
      break;

  }

  var flash ="<div id='flash' class='alert alert-" + filtered_type + "' style='display: none;'>  <button type='button' class='close' data-dismiss='alert'>&times;</button>" + message + "</div>";
  $('#flash').remove();
  $('body').prepend(flash);
  showFlash();
}

function showFlash() {
  if ( $('#flash').length ) {
    $('#flash').delay(30).fadeIn('normal', function() {
      $(this).delay(6000).fadeOut();
    });
  }
  $('#flash').click(function(e) {
    $(this).hide();
  });  
}