<h2>Sign in through one of these social networks</h2>

<li><%= link_to "Sign in with Facebook", authentication_sign_in_path(:facebook) %></li>		
<li><%= link_to "Sign in with Google",   authentication_sign_in_path(:google_oauth2) %></li>    
<li><%= link_to "Sign in with linkedin",   authentication_sign_in_path(:linkedin) %></li>    

<p>Note: Unless you link additional social networks to your profile, sign in using the one you created your account with</p>