<div id="add_bank_account_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Bank Account</h3>
  </div>  
  <div class="modal-body">
    <div id="new_bank_account_inputs">
      <fieldset>
        <div>
          <label>Accountholder Name</label>
          <input type="text" name="name" value="Mahmoud MacBook">
        </div>
        <div>
            <label>Account Number</label>
            <input type="text" name="account_number" value="000000-00" autocomplete="off">
        </div>
        <div>
            <label>Bank Code (Routing Number in USA)</label>
            <input type="text" name="bank_code" value="321174851">
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" aria-hidden="true" id='validate_bank_account'>Add</button>
  </div>
  
</div>

<%= form_tag fund_bank_account_path(:fund_id => current_fund), :id => 'accountData', :method => :post do %>  
  <%= hidden_field_tag 'accountData[balanced_uri]' %>
<% end %>

<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">

  var marketplaceUri = '<%= ENV['BALANCED_MARKETPLACE_URI'] %>';

  var debug = function (tag, content) {
    console.log('<' + tag + '>' + content + '</' + tag + '>');
  };

  function balancedAccountAddCallback(response) {
    var tag = (response.status < 300) ? 'pre' : 'code';
    debug(tag, JSON.stringify(response));
    switch (response.status) {
      case 201:
        // response.data.uri == uri of the bank account resource, submit to your server
        $('#accountData_balanced_uri').val(response.data.uri);                           
        $('form#accountData').submit();              
      case 400:
      case 403:
        // missing/malformed data - check response.error for details
        break;
      case 404:
        // your marketplace URI is incorrect
        break;
      default:
        // we did something unexpected - check response.error for details
        break;
    }
  }

  var tokenizeBankAccount = function( $form ) {
    var bankAccountData = {
      name: $form.find('[name="name"]').val(),
      account_number: $form.find('[name="account_number"]').val(),
      bank_code: $form.find('[name="bank_code"]').val()
    };    
    try {
      balanced.init(marketplaceUri);
    } catch (e) {
      debug('code', 'You need to set the marketplaceUri variable');
    }
    balanced.bankAccount.create(bankAccountData, balancedAccountAddCallback);
  };
 
  $('#validate_bank_account').click(function(e){
    e.preventDefault();
    var new_bank_account_popup = $(this).closest("[role='dialog']");
    var is_all_data_populated = true;
    $.each($('#new_bank_account_inputs').find('input'), function(){
      if (!$(this).val()) {
        is_all_data_populated = false;
      }
    });
    if (is_all_data_populated) {
      new_bank_account_popup.modal('hide');
      tokenizeBankAccount($('#new_bank_account_inputs'));
    } else {
      new_bank_account_popup.modal('hide');
      flashNow('Please completely fill out bank account information', 'error');
      window.setTimeout(function() {
        new_bank_account_popup.modal('show');
      }, 2000);     
    }    
  });
 
</script>