<div id='login_or_guest_prompt' class='center_wrap flash_message flash_permenant pa-m' data-role="popup" data-position-to="window" data-theme='none' data-transition='pop' data-overlay-theme="b">
  <div class='pt pb-m' style='border-radius:30px;background-color:rgba(100,100,100,0.8);box-shadow: inset 0px 0px 8px 8px rgba(25,25,25,.95);'>
    <img alt="swiftgive logo" src="/assets/logo_text_md.png" width='180px' height='40px'>
  </div>
  <p class='pb pr pl t-s'>The easiest way to give tips or donations without cash!</p>
  <p class='mt'>
    <a href='<%= new_user_session_path %>' data-role='button' data-mini='true' data-theme='b'>Sign-in or Register</a>
    <a class='mt' href='#' data-role='button' data-mini='true' data-theme='a'>Give as a Guest</a>
  </p>
</div>

<script type='text/javascript'>

  
</script>