<div class='mt center_wrap'>
	<%= image_tag 'swiftgive_logo_lg.png', :width => '80%' %>
	<h2>Welcome to Swiftgive</h2>
  <p class='pb pr pl t-s'>The easiest way to give tips or donations without cash!</p>
  <p class='mt'>
    <a href='<%= new_user_session_path %>' data-role='button' data-mini='true' data-theme='b'>Sign-in or Register</a>
  </p>
  <p class='mt'>
    <a href='<%= new_payment_path(:fund_uid => (session[:referring_fund_uid]), :guest_payment => true) %>' data-role='button' data-mini='true' data-theme='c'>Give as a Guest</a>
  </p>
  <p class='mt'>
  	<%= link_to 'Learn more about us', about_path %>
  </p>
</div>
