<div id="give_code_modal" class="modal fade" data-keyboard='false'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class='modal-title' id="edit_name_modal_label">Scan this code with your mobile device</h4>
      </div>  
      <div class="modal-body ma center_wrap">    
        <% if current_fund.give_code_image.present? %>
          <%= image_tag current_fund.give_code_image.url, :style => "width:300px;" %>
        <% else %>
          <h2>Ooops!</h2>
          <h4>We haven't generated the give code for this fund yet.  Please try again later.  Sorry for the inconvenience!</h4>
        <% end %>
      </div>   
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</a>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type='text/javascript'>
  
  function openGiveCodeModal(){
    $('#give_code_modal').modal("show");
  }

</script>