<%= provide :heading, "Password Change" %>

<%# abstract email so gmail doesn't convert into mailto link %>
<p>Hello <%=h (@resource.account.first_name.present? ? @resource.account.first_name : @resource.email.gsub('@','<span>@</span>').gsub('.','<span>.</span>').html_safe) rescue "There" %>!</p>

<p>Someone has requested a password change for your account. You can do this using the link below.</p>
<br/>
<p>
	<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :style => "background-color:#87b287;border:1px solid #999;border-radius:3px;padding:10px;color:#fff;text-decoration:none;" %>
</p>
<br/>

<p>If you don't want to change your password, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
