<%= form_for @fund, :method => :post do |f| %>
  
  <div class='ui-grid-solo center_wrap'>
	  <h3>Create New Fund</h3>
	  <hr>
  </div>

  <%= render :partial => "form", :locals => {:f => f} %>

  <%= f.submit "Create This Fund" %>

<% end %>