<%= form_for @fund, :method => :post do |f| %>
  
  
	<center><h1>Create New Fund</h1></center>

  <%= render :partial => "form", :locals => {:f => f} %>

  <%= f.submit "Create This Fund" %>

<% end %>