<% title "#{current_fund.name}" %>

<%= render :partial => 'funds/show/tabs' %>

<ul data-role="listview" data-inset="true">		
	<li>
		<h4 class='word_wrap'>Get your marketing products now and let's start raising some money!</h4>
		<p class='word_wrap'>We offer a variety of fully-customizable products that are specially coded so that when scanned from a mobile device, payments will go towards this fund.</p>
		
	</li>
</ul>
	
<ul data-role="listview" data-inset="true" data-theme"a">
<li data-role="list-divider">Marketing products for this fund</li>
	<% MarketingProduct.scoped.each do |product| %>
		<li class=" ui-li-has-thumb ui-first-child">
			<%= link_to "#{image_tag(product.image_url(:thumb))}<h4>#{product.name}</h4><p class='word_wrap' style='margin-bottom:-5px;'>#{product.comment}</p>".html_safe, product.link_to_product(:t_image0_iid => current_fund.give_code_vector.url, :t_text_txt => current_fund.name, :t_text0_txt => current_fund.name, :tc => current_fund.uid), :class => 'clearfix center ', :target => '_blank' %>
		</li>
	<% end %>
</ul>

<center>
	<div class='t-ss'>Products and Images courtesy of Zazzle Inc.</div>
</center>
	