<h3>Donations</h3>
<table class='table'>
	<tr>
		<th>Amount</th>
		<th>Sender</th>
		<th>Location</th>
		<th>Donated On</th>
	</tr>
	<% current_fund.payments.includes(:sender => :account).all.each do |payment| %>
		<tr>	
			<td>
				<%= number_to_currency payment.amount_in_dollars %>
			</td>
			<td>
				<% if payment.sender.present? %>
					<%= display_accountholder_name(payment.sender, payment.is_anonymous) %>
				<% else %>
					<span class='muted'>Anonymous</span>
				<% end %>
			</td>
			<td>
				<% if payment.sender.present? %>
					<%= display_location(payment.sender.account) %>
				<% end %>
			</td>
			<td>
				<%= display_time(payment.created_at) %>
			</td>
		</tr>
	<% end %>
</table>
