<h3>Donations</h3>
<table class='table'>
	<tr>
		<th>Net Amount</th>
		<th>Sender</th>
		<th>Location</th>
		<th>Donated On</th>
	</tr>
	<% Payment.includes(:sender).all.each do |payment| %>
		<tr>	
			<td>
				<%= number_to_currency payment.amount_in_dollars %>
			</td>
			<td>
				<%= display_accountholder_name(payment.sender, payment.is_anonymous) %>
			</td>
			<td>
				<%= display_accountholder_location(payment.sender) %>
			</td>
			<td>
				<%= display_time(payment.created_at) %>
			</td>
		</tr>
	<% end %>
</table>
