<h3>Owners</h3>
<table class='table'>
	<% current_fund.owners.each do |owner| %>
		<tr>
			<td>
				<b><%= owner.full_name %></b>
			</td>
			<td>
				<%= link_to "<i class='icon-remove-sign'> </i>&nbsp; Remove".html_safe, root_path, :class => 'btn-small' %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to "<i class='icon-plus'> </i>&nbsp; Add New Owner".html_safe, root_path, :class => 'btn-small' %>