<% if current_fund.give_code_vector.present? %>

	<h3>Professional Products</h3>
	<p>Easy marketing with professionaly printed products from our partner at Zazzle.com. Each product is uniquely coded to your fund, making it easy for people to scan and give to you!</p>

	<%= render :partial => 'funds/show/marketing_products' %>

	<h3>Download Your Give Code</h3>
	<p>Not interested in professional products? Just download your fund's give code and print it yourself.</p>
	<%= link_to '<i class="icon-download"></i>&nbsp Download Give Code'.html_safe, current_fund.give_code_image.url, :class => 'btn' %>

<% else %>

	<h3>Ooops! Your give code hasn't been generated yet. Please try again later</h3> 

<% end %>

