<div id="add_social_network_modal" class="modal fade" data-keyboard='false'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class='modal-title' id="edit_name_modal_label">Add a Social Network</h4>
      </div>  
      <div class="modal-body">
        <div class="alert alert-info mb">
          <strong>Note:</strong> Quickly sign in through your social network of choice without entering your swiftgive password every time.
        </div>        
        <div class='center_wrap'>
          <%= link_to image_tag('facebook.png', :width => '75px', :height => '75px'), authentication_add_path(:facebook), :rel => 'external' %>
          <%= link_to image_tag('google.png', :width => '75px', :height => '75px'), authentication_add_path(:google_oauth2), :rel => 'external' %>
          <%= link_to image_tag('linkedin.png', :width => '75px', :height => '75px'), authentication_add_path(:linkedin), :rel => 'external' %>   
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>          
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
