<div id="edit_email_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Your Email</h3>
  </div>  
  <%= simple_form_for current_user, :url => user_registration_path, :html => {:class => 'form-horizontal'}, :method => :put do |f| %>
    <div class="modal-body">     
      <%= f.input :email, :label => false, :placeholder => 'example@domain.com' %>    
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
  <% end %>  
</div>