<div id="account_edit_personal_info" data-role="popup" data-history='false' data-position-to="window" data-overlay-theme="a" data-transition='pop'>
    
  <div data-role="header" data-theme='a'>
      <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
      <h4>Personal Info</h4>
  </div>

  <div class='pa-m'>

    <%= form_for current_user.account, :url => update_user_profile_path, :method => :put do |f| %>

      <div class='ui-grid-solo'>
        <%= f.text_field :first_name, :placeholder => 'First Name' %>    
      </div>

      <div class='ui-grid-solo'>
        <%= f.text_field :last_name, :placeholder => 'Last Name' %>    
      </div>

      <div class='ui-grid-a'>
        <div class='ui-block-a'><a href='#' data-role='button' data-rel='back' data-icon='delete'>Cancel</a></div>

        <div class='ui-block-b'><%= f.submit 'Update', :'data-icon' => 'check' %></div>
      </div>

    <% end %>

  </div>

</div>
