<div id="account_edit_location" data-role="popup" data-history='false' data-position-to="window" data-overlay-theme="a" data-transition='pop'>
    
  <div data-role="header" >
      <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
      <h4 class='ma-n'>Change Your Location</h4>
  </div>
    
  <div class='pa-m'>
  
    <% location = Accounts::Location.new(params[:accounts_location] || current_user.account.attributes.slice('street_address', 'city', 'state', 'postal_code', 'country')) %> 

    <%= form_for location, :url => accounts_location_path, :method => :put do |f| %>

      <div class='ui-grid-solo pa-s mb-s'>
        <%= f.text_field :city, :placeholder => 'City' %>    
        <%= f.select :state, us_state_codes_collection, {}, :'data-mini' => true %>  
      </div>
      
      <div class='ui-grid-a'>
        <div class='ui-block-a'><a href='#' data-role='button' data-rel='back' data-icon='delete'>Cancel</a></div>
        <div class='ui-block-b'><%= f.submit 'Update', :'data-icon' => 'check' %></div>
      </div>

    <% end %>

  </div>
</div>